body {

  margin: 0;
  font-family: 'Gloock', serif;

  background-color: #2b3a67;
  color: #f0e5d8;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100dvh;
  width: 100vw;

  overflow: hidden;

}

.container {

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

}

.page-container,
.result-container,
.resources-container,
.instructions-container {

  width: 90%;
  max-width: 900px;

  height: 90%;
  max-height: 600px;

  border: 10px solid #d6b35f;
  border-radius: 20px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background-color: #2b3a67;

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  opacity: 0;
  visibility: hidden;

}

.active {

  opacity: 1;
  visibility: visible;

}

.window-controls {

  display: flex;
  gap: 10px;
  margin-bottom: 20px;

}

.window-button {

  width: 16px;
  height: 16px;
  border-radius: 50%;

}

.close {

  background-color: #8b3a3a;

}

.minimize {

  background-color: #d6b35f;

}

.fullscreen {

  background-color: #28c93f;

}

h1 {

  font-size: 56px;
  margin: 0;

}

.search-container {

  margin-top: 20px;

}

.search-box {

  padding: 10px;
  font-size: 16px;

}

.search-button {

  padding: 10px;

}

.resources-button {

  padding: 10px;
  margin: 5px;

}

.footer-left {

  position: absolute;
  bottom: 10px;
  left: 20px;

}

.footer-right {

  position: absolute;
  bottom: 10px;
  right: 20px;

}
